.currentNode {
  /* width: 75vw; */
  color: white;
  background-color: #222426;
  margin: 10px;
  margin-left: 15px;
  width: 600px;
  height: 310px;
  border-radius: 10px;
  border: 1px solid rgb(19, 19, 19);



  display: flex;
  flex-direction: column;
  align-items: left;
  overflow: scroll;
  -webkit-box-shadow: 5px 5px 14px 5px #000000; 
  box-shadow: 5px 5px 14px 5px #000000;
}

.nodeListing {
  font-size: 24px;
}

