@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body {
  background-color: #4c3768;
  /* background-color: #3b3d41 */
}

h2 {
  background-color: rgb(85, 85, 85);
}

h3 {
  font-family: 'Bebas Neue';
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.graphContainer {
  background-color: #222426;
  margin-left: 117px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 1400px;
  padding: 15px;
  height: auto;
  border-radius: 10px;
  /* max-width: 1500px;
  min-width: 1500px; */
  border: 1px solid rgb(19, 19, 19);


  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.mainContent{
  display: flex;
}

.homepageContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.miniHead {

  background-color: #111617;
}

.miniHeadList {
  background-color: #111617;
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.miniHeadText {
  text-align: center;
  color: white;
  font-family: 'Bebas Neue';
  font-size: 24px;
  margin: 5px
}

.overflowBox {
  display: flex;
  justify-content: left;
  flex-direction: row;
  overflow: scroll;
}

.greenText {
  text-align: center;
  color: rgb(0, 255, 0);
  font-family: 'Bebas Neue';
  font-size: 24px;
  margin: 5px
}

.redText {
  text-align: center;
  color: #f5066b;
  font-family: 'Bebas Neue';
  font-size: 24px;
  margin: 5px
}

.homePage{
  display: flex;
  flex-direction: column;
  width: 1920px;
}

.btn{
  height: 15px;
  width: 17px;
  font-size: 13px;
}

.MuiTable-root {
  min-width: 500px
}

.ingressButton {
  margin-left: 50px;
}

.nodeInfo {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.metricsPage {
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 100%;
  margin-top: 15px;
  margin-left: 117px;
  border-radius: 10px;
}


.alertsPage {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  width: 1920px;
  height: 100%;
  margin-left: 117px;
}

.nd {
  display: flex;
  flex-direction: row;
}

.logo{
  height: 40px;
  width: 40px;
  margin-left: 30px;
}


.logoText{
  height: 20px;
  width: 250px;
  margin-left: 30px;
}