.header {
  /* width: 75vw; */
  background-color: #222426;
  margin: 10px;
  margin-left: 15px;
  margin-top: 20px;
  width: auto;
  height: 80px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(19, 19, 19);

  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  overflow: scroll;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.5), 10px 10px 8px rgba(0,0,0,0.5);
}

.menuItem {
  color: white;
}
.MuiInputBase-input {
  color: white;
}