
.sidebar {
  background-color:#111617;
  color: #7135f0;
  top: 0px;
  margin-left: 7px;
  height: 50px;
  display: flex;
  justify-content: start;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: #111617;
  margin-top: 15px;
  margin-left: 7px;
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: absolute;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  /* left: -100%; */
  transition: 850ms;
}

/* .nav-menu.active {
  top: 70px;
  left: 0;
  width: 150px;
  height: 65%;
  transition: 350ms;
} */

.nav-text {
  display: flex;
  justify-content: start;
  align-items: left;
  padding: 4px 0px 4px 4px;
  list-style: none;
  height: 60px;
  color: #7135f0;
}

.nav-text a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  width: auto;
  height: 100%;
  padding: 0 5px;
  /* border-radius: 4px; */
}

.nav-text a:hover {
  background-color: #7135f0;
}

.nav-menu-items {
  width: 100%;
  padding: 5px;
}

/* .sidebar-toggle {
  background-color: #7135f0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
} */

span {
  margin-left: 3px;
}

h3 {
  text-align: center;
  align-self: center;
  margin-left: 25px;
  font-size: 27px;
}

.icons {
  margin-right: 5px;
}