.deploymentList {
  /* width: 75vw; */
  background-color: #222426;
  margin: 10px;
  margin-left: 15px;
  width: auto;
  height: 310px;
  border-radius: 10px;
  max-width: 1400px;
  min-width: 940px;
  border: 1px solid rgb(19, 19, 19);


  display: flex;
  flex-direction: column;
  box-shadow: -10px 10px 8px rgba(0,0,0,0.5), 10px 10px 8px rgba(0,0,0,0.5);
}